.imgProperties{
    height: 3rem;
    width: 3rem;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.colorprob ul li a{
    color: grey;
}
.colorprob ul li a:hover{
    color: lightgrey;
}